/game/core/build/
/game/.gradle/
/game/tests/build/classes/java/main/piazzapanictests/tests/ChefTests.class
/game/tests/build/classes/java/test/piazzapanictests/tests/ChefTests.class
/game/tests/build/tmp/test/jar_extract_119360971529968645_tmp
/game/tests/build/
/game/core/build/tmp/compileJava/
/game/core/build/tmp/jar/
/game/.gradle/7.5.1/fileHashes/
/game/.gradle/buildOutputCleanup/
/game/assets/SavedData.ser
